.quest {
    margin-left: 220px;
    padding: 20px;
    background-color: #fff;
}

.medio {
    width: 17px;
}

.perguntasp {
    margin-top: 30px;
}

.perguntas {
    margin-top: 50px;
}

.pergunta {
    font-size: 20px;
}

.right-quest {
    padding-left: 20%;
}

.sidebar {
    margin-left: 3%;
    width: 20%;
}

.button {
    margin-top: 40px;
    border: none;
    background: #00CB83;
    color: #fff;
    height: 40px;
    width: 80px;
    font-size: 17px;
  }

.pAlternativas {
    margin-top: 22px;
    margin-left: 10px;
    font-size: 18px;
}
